body{
	background: url('assetcfe2.png');
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	display: flex;
	justify-content: flex-end; /* Moves the div to the right */
	align-items: center;       /* Vertically centers the div */
	height: 100vh;             
}

@font-face { font-family: Geomanist; src: url('geomanist-regular-webfont.woff'); }

#main_title{
	color: white;
	font-family: Geomanist;
	font-size: 4rem;
}

#secondary{
	color: white;
	font-family: Geomanist;
	font-size: 2rem;
}

#title_container {
  text-align: center; /* Centers the text inside the div */
  width: 800px;
  padding: 250px;
}
